.filtercontainer {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    padding: 20px;  
  }  
    
  .filterbox {  
    border-radius: 10px;  
    background-color: #f2f2f2;  
    padding: 20px;  
    width: 300px;  
  }  
    
  .filterfields {  
    margin-bottom: 10px;  
  }  
    
  .locationinput,  
  .dateinput {  
    margin-bottom: 10px;  
  }  
    
  .locationinput label,  
  .dateinput label {  
    margin-right: 10px;  
  }  
    
  .locationinput select,  
  .dateinput input[type="date"] {  
    padding: 5px;  
    border-radius: 5px;  
    border: 1px solid #ccc;  
    width: 100%;  
  }  
    
  .filterbutton {  
    padding: 10px 20px;  
    border-radius: 5px;  
    background-color: #4caf50;  
    color: #fff;  
    border: none;  
    cursor: pointer;  
  }  
    
  .filterbutton:hover {  
    background-color: #45a049;  
  }  
  